<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wglxy.example.dashL"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="10" />

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/Theme.D1" >
        <activity
            android:name="com.wglxy.example.dashL.HomeActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.wglxy.example.dashL.F1Activity"
            android:label="@string/title_feature1"
            android:theme="@style/Theme.D1" />
        <activity
            android:name="com.wglxy.example.dashL.F2Activity"
            android:label="@string/title_feature2"
            android:theme="@style/Theme.D1" />
        <activity
            android:name="com.wglxy.example.dashL.F3Activity"
            android:label="@string/title_feature3"
            android:theme="@style/Theme.D1" />
        <activity
            android:name="com.wglxy.example.dashL.F4Activity"
            android:label="@string/title_feature4"
            android:theme="@style/Theme.D1" />
        <activity
            android:name="com.wglxy.example.dashL.F5Activity"
            android:label="@string/title_feature5"
            android:theme="@style/Theme.D1" />
        <activity
            android:name="com.wglxy.example.dashL.F6Activity"
            android:label="@string/title_feature6"
            android:theme="@style/Theme.D1" />
        <activity
            android:name="com.wglxy.example.dashL.AboutActivity"
            android:label="@string/title_about"
            android:theme="@style/Theme.D1" />
        <activity
            android:name="com.wglxy.example.dashL.SearchActivity"
            android:label="@string/title_search"
            android:theme="@style/Theme.D1" />
        <activity
            android:name="com.wglxy.example.dashL.Fetch_electricians"
            android:label="@string/title_feature6"
            android:theme="@style/Theme.D1" />
        <activity
            android:name="com.wglxy.example.dashL.ElectricianCall"
            android:configChanges="orientation"
            android:theme="@style/Theme.D1" />
        <activity
            android:name="com.wglxy.example.dashL.SendSMSActivity"
            android:label="@string/title_search"
            android:theme="@style/Theme.D1" />
        <activity
            android:name="com.wglxy.example.dashL.Demo1"
            android:label="@string/title_feature6"
            android:theme="@style/Theme.D1" />
        <activity
            android:name="com.wglxy.example.dashL.Demo2"
            android:label="@string/title_about"
            android:theme="@style/Theme.D1" />
        <activity
            android:name="com.wglxy.example.dashL.Demo3"
            android:label="@string/title_search"
            android:theme="@style/Theme.D1" />
        <activity
            android:name="com.wglxy.example.dashL.Demo5"
            android:label="@string/title_search"
            android:theme="@style/Theme.D1" />
        <activity
            android:name="com.wglxy.example.dashL.CompanyActivity"
            android:label="@string/title_activity_company" >
        </activity>
        <activity
            android:name="com.wglxy.example.dashL.ContactCompanyActivity"
            android:label="@string/title_activity_contact_company" >
        </activity>
        <activity
            android:name="com.wglxy.example.dashL.LoginActivity"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name="com.wglxy.example.dashL.SignUpActivity"
            android:label="@string/title_activity_sign_up" >
        </activity>
    </application>

    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PRIVILEGED" >
    </uses-permission>
    <uses-permission android:name="android.permission.CALL_PHONE" >
    </uses-permission>

</manifest>
